/* header-area {
display: flex;
align-items: center;
gap: 0.75rem;
;
}
.user-image {
width: 8rem;
height: 8rem;
position: relative;
left:380px;
/* @media (min-width: 1024px) {
  width: 6rem;
  height: 6rem; */
